
body {
    margin: 0px;
    overflow: hidden;
}

.mainDisplay {
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: crosshair;
}

#background {
    background-color: mediumseagreen; 
}

#foreground {
    background-color: transparent;
}

#debugWrapper {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: black;
    color: white;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#settingsMenuWrapper {
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #080808;
    color: white;
    border-color: springgreen;
    border-width: 2px;
    border-style: solid;
}