.menu-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100vw;
  background-color: var(--menu-background-color);
  color: var(--text-color);
  box-shadow: 0px 5px 10px 0px black;
}

.menu-button-container {
  display: flex;
  flex-direction: row;
}

.menu-tab-button-container {
  display: flex;
  flex-direction: row;
}

.menu-nav-button-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.menu-button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--menu-background-color);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-button.selected {
  background-color: var(--menu-selected-color);
}

.menu-panel {
  padding: 5px;
  background-color: var(--menu-selected-color);
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  min-height: 35px;
}

.menu-panel-divider {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid var(--menu-background-color);
  min-height: 35px;
}

.menu-panel-divider-heading {
  width: 80px;
  padding: 5px;
}

.menu-button:hover {
  box-shadow: 0px 1px 0px 0px white;
  background-color: var(--menu-selected-color);
}

.menu-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 2px solid var(--menu-background-color);
  padding: 3px 8px 3px 8px;
}

.menu-item-container div {
  font-size: 16px;
  padding: 5px 5px 5px 5px;
}

.color-brush-dynamic-false {
  display: none;
}

.color-particle-dynamic-true {
  display: none;
}

.polar-reflection-true {
  display: none;
}

input[type=number] {
  width: 50px;
}

label {
  padding-right: 4px;
}

a {
  text-decoration: none;
  color: white;
}