.menu-container {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
  width: 100vw;
  background-color: var(--menu-background-color);
  color: var(--text-color);
}

.menu-button-container {
  display: flex;
  flex-direction: row;
}

.menu-tab-button-container {
  display: flex;
  flex-direction: row;
}

.menu-nav-button-container {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.menu-button {
  padding: 10px;
  cursor: pointer;
  background-color: var(--menu-background-color);
}

.menu-button.selected {
  background-color: var(--menu-selected-color);
}

.menu-panel {
  padding: 10px;
  background-color: var(--menu-selected-color);
}

.menu-button:hover {
  box-shadow: 0px 1px 0px 0px white;
  background-color: var(--menu-selected-color);
}



a {
  text-decoration: none;
  color: white;
}